---
import "../styles/global.css";
import Typewriter from "../components/Typewriter-fun.astro";
---

<div class="flex flex-wrap gap-2 overflow-hidden">
  <div class="typewriter-container">
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
  </div>

  <!-- <div class="typewriter-container">
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
  </div>
  <div class="typewriter-container">
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
  </div>
  <div class="typewriter-container">
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
  </div>
  <div class="typewriter-container">
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
  </div>
  <div class="typewriter-container">
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
  </div>
  <div class="typewriter-container">
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
    <Typewriter text="my site is under continuous construction" />
  </div> -->
</div>

<!-- <h1>My name is Szymon Eda Hernik</h1> -->

<style>
  .typewriter-container {
    display: flex;
    width: 100%;
  }

  h1 {
    /* text-align: center; */
  }
</style>
