---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Typewriter from "../components/Typewriter.astro";

const pageTitle = "About Me";
const currentPage = "/about/";
---

<BaseLayout pageTitle={pageTitle} currentPage={currentPage}>
  <h1>Szymon Eda Hernik</h1>
  <!-- . I was born in Poland, studied in The Hague (NL) and live
    in Brussels (BE). I co-run a studio called <span class="italic"
      >isz szi studio</span
    >. As <span class="italic">isz szi </span> we recently joined <a
      href="https://www.max.brussels/"
      target="_blank"
      class="underline">MAX</a
    > atelier (Bxl), where we have our studio space.
  </p> -->
  <br />
  <h2>
    <span aria-hidden="true">🔗</span>
    <span class="sr-only">Links</span>
  </h2>
  <ul>
    <li>
      isz szi studio: <a
        href="https://www.iszszistudio.com"
        target="_blank"
        class="underline">iszszistudio.com</a
      >
    </li>

    <li>
      drawings: <a
        href="https://www.homeofeda.com"
        target="_blank"
        class="underline">homeofeda.com</a
      >
    </li>
  </ul>
  <br />
  <h2>
    <span aria-hidden="true">💌 newsletters (by isz szi)</span>
    <span class="sr-only">Links to newsletters</span>
  </h2>
  <ul>
    <li>
      branches (~3 times a month): <a
        href="https://iszszistudio.substack.com/"
        target="_blank"
        class="underline">iszszistudio.substack.com</a
      >
    </li>
    <li>
      wobbly drawing (daily): <a
        href="https://iszszidaily.substack.com/"
        target="_blank"
        class="underline">iszszidaily.substack.com</a
      >
    </li>
  </ul>
</BaseLayout>
