---
import BaseLayout from "../layouts/BaseLayout.astro";
import readingList from "../data/reading-list.json";

const pageTitle = "Collaborations";
const currentPage = "/collaborations/";

const currentlyReading = readingList.filter(
  (book) => book.status === "reading"
);
const finishedReading = readingList.filter(
  (book) => book.status === "finished"
);
---

<BaseLayout pageTitle={pageTitle} currentPage={currentPage}>
  <div class=""></div>
</BaseLayout>
