---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact me";
const currentPage = "/contact/";
---

<BaseLayout pageTitle={pageTitle} currentPage={currentPage}>
  <h1>You can contact me at:</h1>
</BaseLayout>
