---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact me";
const currentPage = "/contact/";
---

<BaseLayout pageTitle={pageTitle} currentPage={currentPage}>
  <p>
    Best to contact me via email:

    <a href="mailto:szymonhernik123@gmail.com" class="underline"
      >szymonhernik123@gmail.com</a
    >
  </p>
</BaseLayout>
