---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "I'm Reading";
const currentPage = "/im-reading/";
---

<BaseLayout pageTitle={pageTitle} currentPage={currentPage}>
  <!-- <h1 class="text-3xl font-bold mb-4">I'm Reading</h1>
  <p>Here's what I'm currently reading...</p> -->
  <!-- Add your content here -->
</BaseLayout>
