---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Photos";
const currentPage = "/photos/";
---

<BaseLayout pageTitle={pageTitle} currentPage={currentPage}>
  <p>...</p>
</BaseLayout>
