---
import Navigation from "./Navigation.astro";

const { currentPage } = Astro.props;
---

<header class="md:bg-white md:bg-opacity-50">
  <nav>
    <Navigation currentPage={currentPage} />
  </nav>
</header>
