---
import Navigation from "./Navigation.astro";

const { currentPage } = Astro.props;
---

<header>
  <nav>
    <!-- <Hamburger /> -->
    <Navigation currentPage={currentPage} />
  </nav>
</header>
