---
const { currentPage } = Astro.props;

const navItems = [
  { href: "/im-reading/", label: "I'm reading" },
  { href: "/collaborations/", label: "Collaborations" },
  { href: "/photos/", label: "Photos" },
  { href: null },
  { href: "/about/", label: "About" },
  { href: "/contact/", label: "Contact" },
  { href: "/tags/", label: "Tags" },
];

const activeItem = navItems.find((item) => item.href === currentPage);
const isHomePage = currentPage === "/" || currentPage === "";
---

<div class="">
  <div class="md:hidden">
    {
      !isHomePage && activeItem && (
      <a href={"/"} class="block text-white hover:no-underline">
          <p class="px-[10px] py-[20px]   md:py-[5px]">
            ← home
          </p>
        </a>
        <a href={activeItem.href} class="block hover:no-underline">
          <p class="px-[10px] py-[20px] bg-white bg-opacity-70 md:py-[5px]">
            {activeItem.label}
          </p>
        </a>
      )
    }
  </div>
  <div
    class:list={[
      "divide-y-[1px] divide-black md:divide-none ",
      { "hidden md:block": !isHomePage },
    ]}
  >
    {
      navItems.map((item) =>
        item.href === null ? (
          <p class="px-[10px] py-[20px] bg-white bg-opacity-50 md:bg-transparent ">
            &nbsp;
          </p>
        ) : (
          <a href={item.href} class={`block hover:no-underline  ${currentPage !== item.href && "md:hover:underline" }`}>
            <p
              class:list={[
                "px-[10px] py-[20px]  md:py-[5px]",
                currentPage === item.href
                  ? "bg-opacity-70  md:bg-white md:bg-opacity-40 hover:bg-opacity-40"
                  : "bg-opacity-40 md:bg-opacity-0 bg-white ",
              ]}
            >
              {item.label}
            </p>
          </a>
        )
      )
    }
  </div>
</div>
