---
import Header from "../components/Header.astro";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";

const { pageTitle, currentPage } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{pageTitle}</title>
    <style></style>
  </head>
  <body class="">
    <div
      class="content-wrapper mx-4 text-lg md:flex md:flex-row-reverse mt-16 md:max-w-screen-lg md:w-[80%] md:absolute md:right-[100px] md:top-0 max-h-[70dvh] md:max-h-[800px] md:h-[70dvh] overflow-y-hidden"
    >
      <!-- class="overflow-y-auto md:w-64 md:border-l-[#8C8C8C] md:border-l md:max-h-[800px] max-h-[70dvh] md:h-[70dvh]" -->
      <div
        class={`overflow-y-auto md:w-64 md:border-l-[#8C8C8C] md:border-l md:h-full ${
          currentPage === "/" ? "h-full" : "md:h-full"
        }`}
      >
        <Header currentPage={currentPage} />
      </div>

      <div
        class={`slot bg-white bg-opacity-50 overflow-y-auto grow h-full min-h-[70dvh]  px-[20px] py-[20px] ${
          currentPage === "/" && "hidden md:block"
        }`}
      >
        <slot />
      </div>
    </div>
    <div class="w-full px-4 h-12">
      <div class="w-full mt-80 h-full"></div>
    </div>
    <!-- <Header /> -->
    <!-- <h1>{pageTitle}</h1> -->

    <!-- <Footer /> -->

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
